{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - User Settings</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 mx-auto">
                <div class="card my-5">
                    <h5 class="card-header text-white bg-dark mb-3">
                        Settings
                    </h5>
                    <div class="card-body text-left">
                        <div class="card-text">
                            <form action="/settings/user" enctype=multipart/form-data method="post">
                                <div class="form-group">
                                    <label for="userName"><b>User Name</b></label>
                                    <input type="text" name="userName" id="userName" class="form-control" value="{{current_user.username}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="emailAddress"><b>Email Address</b></label>
                                    <input type="email" name="emailAddress" id="emailAddress" class="form-control" value="{{current_user.email}}" required>
                                </div>
                                {% if current_user.authType == 0 %}
                                <hr>
                                <div class="form-group">
                                    <label for="password"><b>Change Password</b></label>
                                    <input type="password" id="password" class="form-control" name="password1" placeholder="New Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password2" class="form-control" name="password2" placeholder="Confirm New Password">
                                </div>
                                {% endif %}
                                <hr>
                                <div class="form-group">
                                    <label for="biography" class="col-form-label"><b>Biography</b></label>
                                    <textarea class="form-control" name="biography" id="biography-{{current_user.id}}" value="" maxlength="2048">{{current_user.biography}}</textarea>
                                </div>
                                <hr>
                                <b>User Picture</b><br>
                                <small style="color:red;">Recommended Resolution: 128x128</small><br>
                                <div class="d-flex justify-content-center">
                                    <img width="128" height="128" class="userPhoto" src="/images/{{current_user.pictureLocation}}" onerror="this.src='/static/img/user2.png';">
                                </div>

                                <input type="file" name="photo" class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;"><br>
                                <hr>
                                <b>XMPP Access</b>
                                <p>To access the chat with an external Jabber Client, use this login information:</p>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <b>Username: </b>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        {{current_user.uuid}}@{{sysSettings.siteAddress}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <b>Password: </b>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <button type="button" class="btn btn-primary" onclick="CopyAPI('xmppToken')"><i class="fas fa-copy"></i></button>
                                              </div>
                                              <input type="text" name="xmppToken" id="xmppToken" class="form-control" readonly value="{{current_user.xmppToken}}">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var newChanMDE = new EasyMDE({ autoDownloadFontAwesome: false, spellChecker: false, element: document.getElementById("description") });
        var easymde{{ current_user.id }} = new EasyMDE({ autoDownloadFontAwesome: false, spellChecker: false, element: document.getElementById("biography-{{current_user.id}}") });
    </script>

    <script>
        function CopyAPI(divVal) {
          var copyText = document.getElementById(divVal);
          copyText.select();
          document.execCommand("copy");
        }
    </script>
{% endblock %}